@media (max-width: 576px) { 
    /*MENU*/
    .btn-loja{
        & p{
            display: none;
        }
    }
    /*ENTRADA*/
    .titulo {
        top: 75px;
        & h1 {
            font-size: 35px;
        }
    }
    .logo {
        height: 70px;
        width: 175px;
    }

    /*MAIN*/
    .servicos, .sobre, .depoimentos, .fale-conosco{
        & h1 {
            font-family: "Oswald", sans-serif;
            font-size: 25px;
            color: #f5f5f5;
            letter-spacing: 2px;
        }
    }

    /*DEPOIMENTOS*/
    .carousel-inner{
        min-height: 320px;
    }
    .carousel-item{
        min-height: 310px;
    }

}

@media screen and (min-width: 576px) and (max-width: 1400px) {
    /*ENTRADA*/ 
    .titulo {
        top: 75px;
    }
}